## Introduction to Data Science

#### University of Redlands - DATA 101
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data101.joannabieri.com](https://joannabieri.com/data101.html)

---------------------------------------
# Homework Day 12
---------------------------------------

GOALS:

1. Practice web scraping.

----------------------------------------------------------

This homework has **3 questions**, **1 exercise** and **1 optional challenge problem**.

## Important Information

- Email: [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
- Office Hours: Duke 209 <a href="https://joannabieri.com/schedule.html"> Click Here for Joanna's Schedule</a>

## Announcements

**In NEXT WEEK - Data Ethics** This week you should be reading your book or articles.

## Day 12 Assignment - same drill.

1. Make sure you can **Fork** and **Clone** the Day12 repo from [Redlands-DATA101](https://github.com/Redlands-DATA101)
2. Open the file Day12-HW.ipynb and start doing the problems.
    * You can do these problems as you follow along with the lecture notes and video.
3. Get as far as you can before class.
4. Submit what you have so far **Commit** and **Push** to Git.
5. Take the daily check in quiz on **Canvas**.
7. Come to class with lots of questions!

------------------------------
---------------------

### Web Scraping Ethical Issues

There are some things to be aware of before you start scraping data from the web. 

- Some data is private or protected. Just because you have access to a websites data doesn't mean you are allowed to scrape it. For example, when you log into Facebook or another social media site, you are granted special access to data about your connected people. It is unethical to use that access to scrape their private data!

- Some websites have rules against scraping and will cut of service to users who are clearly scraping data. How do they know? Webscrapers access the website very differently that regular users. If they site has a policy about scraping data then you should follow it and/or content them about getting the data if you have a true academic interest in the data.

- The line between web scraping and plagiarism can be very blurry. Make sure that you are citing where your data comes from AND not just reproducing the data exactly. Always citing the source of your data and make sure you are doing something new with it.

- Ethics are different depending on if you are using the data for a personal project (eg. you just want to check scores for your favorite team daily and print the stuff you care about) vs if you are using the project for your business or website (eg. publishing information to drive clicks to your site/video/account or making money from the data you collect). In the later case it is EXTRA important to respect the original owner of the data. Drive web traffic back to their site, check with them about using their data, etc.

**The Ethical Scraper** (from https://towardsdatascience.com/ethics-in-web-scraping-b96b18136f01):

I, the web scraper will live by the following principles:

- If you have a public API that provides the data I’m looking for, I’ll use it and avoid scraping all together.
- I will always provide a User Agent string that makes my intentions clear and provides a way for you to contact me with questions or concerns.
- I will request data at a reasonable rate. I will strive to never be confused for a DDoS attack.
- I will only save the data I absolutely need from your page. If all I need it OpenGraph meta-data, that’s all I’ll keep.
- I will respect any content I do keep. I’ll never pass it off as my own.
- I will look for ways to return value to you. Maybe I can drive some (real) traffic to your site or credit you in an article or post.
- I will respond in a timely fashion to your outreach and work with you towards a resolution.
- I will scrape for the purpose of creating new value from the data, not to duplicate it.

In [233]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

# This stops a few warning messages from showing
pd.options.mode.chained_assignment = None 
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Using pandas to get table data.

**Optional** - try using pandas to scrape a new site. See if you get errors or are able to find tables on that site.

In [6]:
my_website = "https://www.basketball-reference.com/wnba/teams/SAS/players.html"
DF = pd.read_html(my_website)

In [7]:
# Lets see what Pandas got for us:
ACES = DF[0].copy()
ACES

,Rk,Player,From,To,Yrs,Unnamed: 5,G,MP,FG,FGA,...,PTS,Unnamed: 22,FG%,3P%,FT%,Unnamed: 26,MP.1,PTS.1,TRB.1,AST.1
0,1,Danielle Adams,2011,2015,5,NaN,155,3247,624,1472,...,1771,NaN,0.424,0.328,0.754,NaN,20.9,11.4,4.3,0.9
1,2,Elisa Aguilar,2002,2002,1,NaN,28,141,14,33,...,43,NaN,0.424,0.524,0.571,NaN,5.0,1.5,0.4,0.6
2,3,Kayla Alexander,2013,2017,5,NaN,154,2038,278,555,...,692,NaN,0.501,NaN,0.764,NaN,13.2,4.5,3.1,0.3
3,4,Lindsay Allen,2018,2020,2,NaN,45,642,56,139,...,144,NaN,0.403,0.212,0.735,NaN,14.3,3.2,1.2,2.7
4,5,Chantelle Anderson,2005,2007,3,NaN,68,1168,152,310,...,384,NaN,0.490,NaN,0.777,NaN,17.2,5.6,2.9,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Nevriye Yilmaz,2004,2004,1,NaN,7,77,6,24,...,19,NaN,0.250,0.143,1.000,NaN,11.0,2.7,1.4,0.3
147,148,Jackie Young,2019,2024,6,NaN,199,5944,965,2075,...,2685,NaN,0.465,0.386,0.852,NaN,29.9,13.5,4.0,4.0
148,149,Sophia Young-Malcolm,2006,2015,9,NaN,301,9258,1659,3545,...,4300,NaN,0.468,0.223,0.718,NaN,30.8,14.3,6.0,1.8
149,150,Tamera Young,2018,2019,2,NaN,67,1509,197,495,...,507,NaN,0.398,0.310,0.680,NaN,22.5,7.6,4.4,2.4
150,151,Shanna Zolman,2006,2009,3,NaN,87,1273,225,567,...,635,NaN,0.397,0.402,0.811,NaN,14.6,7.3,1.1,0.8

In [8]:
columns = ['Unnamed: 5', 'Unnamed: 22','Unnamed: 26']
ACES[columns]
ACES[columns]

     Unnamed: 5  Unnamed: 22  Unnamed: 26
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
..          ...          ...          ...
146         NaN          NaN          NaN
147         NaN          NaN          NaN
148         NaN          NaN          NaN
149         NaN          NaN          NaN
150         NaN          NaN          NaN

[151 rows x 3 columns]

In [9]:
ACES[columns].isna().sum()

Unnamed: 5     151
Unnamed: 22    151
Unnamed: 26    151
dtype: int64

I copied the codes above from the lecture to help me better understand since I couldn't upload my own data.

In [11]:
#my_website='https://www.kaggle.com/datasets/michals22/coffee-dataset?resource=download'
#DF=pd.read_html(my_website)
#DF

---
---

## Using Beautiful Soup to get HTML code

### How to get data from static sites:

You should already have the packages bs4 and requests but if you get an error try running:

```{python}
!conda install -y bs4
!conda install -y requests
```

In [13]:
import requests
from bs4 import BeautifulSoup

In [14]:
website = 'https://www.scrapethissite.com/pages/simple/'

In [15]:
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

#### Lets see what is in soup

**Q1** Uncomment this line and run the cell. You will see a TON of text!

**Q1** When I ran the code I noticed that there were 13 different links and many different command codes.

In [17]:
#soup

### Extracting data from HTML:

We will use the **soup.find_all()** function.

Here is the simplified function signature:

    soup.find_all(name=None,attrs={})
    
You can type soup.find_all? and run it to see all the information about additional arguments and advanced processes.

**Here is how we will mostly use it**, but there are much more advanced things you can do:

    soup.find_all( <type of section>, <info> )
    
The **.find_all()** function searches through the information in soup to match and return only sections that match the info. Here are some important types you might search for:

- 'h2' - this is a heading
- 'div' - this divides a block of information
- 'span' - this divides inline information
- 'a' - this specifies a hyperlink
- 'li' - this is a list item

- class_= - many things have the class label (notice the underscore!)
- string= - you can also search by strings.


### Using Developer tools:

To figure out what data to extract I suggest you use developer tools on the website to find what you need. 

**Q2** Navigate to the website and use developer tools to explore the html code.

**Q2** I explored the html code on my laptop with the devloper tools and it was almost identical to what appeared on the lecture video. The only thing that was different on my end was the location of the developer tools (in the video they were on the right but on my laptop they were at the bottom).

[Scrape This Site -  Website](https://www.scrapethissite.com/pages/simple/)

I really like Brave Browser or Google Chrome for this, but most browsers with have **More Tools/Developer Tools** where you can see the code.

### Search for all the country names

The names of the country are inside 
        
        <h3 class="country-name">

So lets search for this:

In [19]:
#lecture
result = soup.find_all('h3',class_="country-name")
#print(result)

In [20]:
result[0].text

'\n\n                            Andorra\n                        '

In [21]:
result[0].text.lstrip().rstrip()

'Andorra'

In [22]:
DF = pd.DataFrame()
DF['country']=result
DF['country'] =DF['country'].apply(lambda x: x.text.rstrip().lstrip())
DF

                  country
0                 Andorra
1    United Arab Emirates
2             Afghanistan
3     Antigua and Barbuda
4                Anguilla
..                    ...
245                 Yemen
246               Mayotte
247          South Africa
248                Zambia
249              Zimbabwe

[250 rows x 1 columns]

In [23]:
result = soup.find_all('span',class_="country-capital")

In [24]:
result[0].text

'Andorra la Vella'

In [25]:
DF['capital']=result
DF['capital'] = DF['capital'].apply(lambda x: x.text)
DF

                  country           capital
0                 Andorra  Andorra la Vella
1    United Arab Emirates         Abu Dhabi
2             Afghanistan             Kabul
3     Antigua and Barbuda        St. John's
4                Anguilla        The Valley
..                    ...               ...
245                 Yemen             Sanaa
246               Mayotte         Mamoudzou
247          South Africa          Pretoria
248                Zambia            Lusaka
249              Zimbabwe            Harare

[250 rows x 2 columns]

### Your turn to try this!

**Q3** Now it's your turn. See if you can write code that gets the population and area information into the data frame. See if you can make your example match what I get below, including having the correct data types. Population should be an int and area should be a float.

Your goal is to get a data frame that looks like the one in lecture with columns for country, capital, population, and area!

**Q3** I first added a code to add the 'population' coulmn into the data frame then I added a different code to add the 'area' column into the data frame. The data types for the data in the 'population' column were originally listed as "object" so after I already added the column into the data frame I applied a lambda that converted that string into an int. I repeated the same steps to the 'area' column since the data types were also originally listed as "object" but when I applied the lmabda I converted the data into float instead of an int.

In [27]:
result = soup.find_all('span',class_="country-population")

In [28]:
#easier way
#int(result[0].text)

In [29]:
DF['population']=result
DF['population'] = DF['population'].apply(lambda x: x.text)
DF
#would've been .apply(lambda x: int(x.text))

                  country           capital population
0                 Andorra  Andorra la Vella      84000
1    United Arab Emirates         Abu Dhabi    4975593
2             Afghanistan             Kabul   29121286
3     Antigua and Barbuda        St. John's      86754
4                Anguilla        The Valley      13254
..                    ...               ...        ...
245                 Yemen             Sanaa   23495361
246               Mayotte         Mamoudzou     159042
247          South Africa          Pretoria   49000000
248                Zambia            Lusaka   13460305
249              Zimbabwe            Harare   11651858

[250 rows x 3 columns]

In [30]:
DF['population'] = DF['population'].apply(lambda x: int(x))
#DF_raw['country-population'].value_counts().reset_index().rename(columns={"index": "value", 0: "count"})

In [31]:
result = soup.find_all('span',class_="country-area")

In [32]:
DF['area']=result
DF['area'] = DF['area'].apply(lambda x: x.text)
DF

                  country           capital  population       area
0                 Andorra  Andorra la Vella       84000      468.0
1    United Arab Emirates         Abu Dhabi     4975593    82880.0
2             Afghanistan             Kabul    29121286   647500.0
3     Antigua and Barbuda        St. John's       86754      443.0
4                Anguilla        The Valley       13254      102.0
..                    ...               ...         ...        ...
245                 Yemen             Sanaa    23495361   527970.0
246               Mayotte         Mamoudzou      159042      374.0
247          South Africa          Pretoria    49000000  1219912.0
248                Zambia            Lusaka    13460305   752614.0
249              Zimbabwe            Harare    11651858   390580.0

[250 rows x 4 columns]

In [33]:
DF['area'] = DF['area'].apply(lambda x: float(x))

In [34]:
DF.dtypes

country        object
capital        object
population      int64
area          float64
dtype: object

### Where can you get more practice

Here is a website dedicated to allowing students to practice webscraping:

[www.scrapethissite.com](https://www.scrapethissite.com/pages/)

-----------------
### Exercise 1:

We are going to scrape the site above to get the list of all links. 

Open the website and look at the developer tools.

Here is our goal: Make a pandas data frame that contains three columns: 

* "site_name" - which contains just the words of the link
* "link" - which contains just the website part of the link
* "description" - which contains the words below the link

When looking for links you can use

    result = soup.find_all('a')
    result[0].text # Get the text associated with the link
    result[0].get('href') # Get the link location



See if you can do this without looking at my code in the notes! What would your plan have to be?

**See the lecture notes for hints and the solution!**

In [182]:
my_website = "https://www.scrapethissite.com/pages/"
#DF = pd.read_html(my_website) what I thought but is actually:
#Get the soup
raw_code = requests.get(my_website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

In [184]:
# Search the soup for links
result = soup.find_all('a')
result[2].get('href')

'/lessons/'

In [198]:
# The first few are from the top of the page not the main content
DF = pd.DataFrame()
DF['site']=result
DF['site'] =DF['site'].apply(lambda x: x.text.rstrip().lstrip())
DF

                                                site
0                                   Scrape This Site
1                                            Sandbox
2                                            Lessons
3                                                FAQ
4                                              Login
5           Countries of the World: A Simple Example
6      Hockey Teams: Forms, Searching and Pagination
7           Oscar Winning Films: AJAX and Javascript
8         Turtles All the Way Down: Frames & iFrames
9  Advanced Topics: Real World Challenges You'll ...

In [202]:
result[0].get('href')

'/'

In [204]:
DF['link']=result
DF['link']=DF['link'].apply(lambda x: x.get('href'))
DF

                                                site                     link
0                                   Scrape This Site                        /
1                                            Sandbox                  /pages/
2                                            Lessons                /lessons/
3                                                FAQ                    /faq/
4                                              Login                  /login/
5           Countries of the World: A Simple Example           /pages/simple/
6      Hockey Teams: Forms, Searching and Pagination            /pages/forms/
7           Oscar Winning Films: AJAX and Javascript  /pages/ajax-javascript/
8         Turtles All the Way Down: Frames & iFrames           /pages/frames/
9  Advanced Topics: Real World Challenges You'll ...         /pages/advanced/

In [206]:
# EXTRA - lets add the base website info
base_website = 'https://www.scrapethissite.com'
DF['link'] = DF['link'].apply(lambda x: base_website+x)
DF

,site,link
0,Scrape This Site,https://www.scrapethissite.com/
1,Sandbox,https://www.scrapethissite.com/pages/
2,Lessons,https://www.scrapethissite.com/lessons/
3,FAQ,https://www.scrapethissite.com/faq/
4,Login,https://www.scrapethissite.com/login/
5,Countries of the World: A Simple Example,https://www.scrapethissite.com/pages/simple/
6,"Hockey Teams: Forms, Searching and Pagination",https://www.scrapethissite.com/pages/forms/
7,Oscar Winning Films: AJAX and Javascript,https://www.scrapethissite.com/pages/ajax-java...
8,Turtles All the Way Down: Frames & iFrames,https://www.scrapethissite.com/pages/frames/
9,Advanced Topics: Real World Challenges You'll ...,https://www.scrapethissite.com/pages/advanced/

In [208]:
# Remove the top few links
DF = DF.drop([0,1,2,3,4])
DF

,site,link
5,Countries of the World: A Simple Example,https://www.scrapethissite.com/pages/simple/
6,"Hockey Teams: Forms, Searching and Pagination",https://www.scrapethissite.com/pages/forms/
7,Oscar Winning Films: AJAX and Javascript,https://www.scrapethissite.com/pages/ajax-java...
8,Turtles All the Way Down: Frames & iFrames,https://www.scrapethissite.com/pages/frames/
9,Advanced Topics: Real World Challenges You'll ...,https://www.scrapethissite.com/pages/advanced/

I need to drop the first 5 rows are the length of values will not match the length of index.

In [221]:
result = soup.find_all('p',class_="lead session-desc")
result[0].text.lstrip().rstrip()

'A single page that lists information about all the countries in the world. Good for those just get started with web scraping.'

In [223]:
DF['description']=result
DF['description']=DF['description'].apply(lambda x: x.text.lstrip().rstrip())
DF

,site,link,description
5,Countries of the World: A Simple Example,https://www.scrapethissite.com/pages/simple/,A single page that lists information about all...
6,"Hockey Teams: Forms, Searching and Pagination",https://www.scrapethissite.com/pages/forms/,Browse through a database of NHL team stats si...
7,Oscar Winning Films: AJAX and Javascript,https://www.scrapethissite.com/pages/ajax-java...,Click through a bunch of great films. Learn ho...
8,Turtles All the Way Down: Frames & iFrames,https://www.scrapethissite.com/pages/frames/,Some older sites might still use frames to bre...
9,Advanced Topics: Real World Challenges You'll ...,https://www.scrapethissite.com/pages/advanced/,"Scraping real websites, you're likely run into..."

**Exercise 1 Explanation** When scrapping the website to create my own data frame I went one step at a time. Firsty, I created a 'site' column by creating a soup where the data was located on the website, creating a lambda where there was extra space around text.

### Challenge Problem

Here is another website to scrape. See if you can create a data frame that looks like the one in the lecture notes. Notice that you can only scrape the first page with the first link. 

If you want to try scraping the other pages you have to notice how the website updates its address for each page. Then write a for loop to loop through how ever many pages you want to scrape. Do the same set of operations for each page keep adding data to your data frame.

Make a histogram of your final data.

In [619]:
website='https://books.toscrape.com/index.html'
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

**Try to scrape the name, the link to the book, and the prices! I decided to put the name and link information into a single column and then break that apart**

In [621]:
result=soup.find_all('h3')
result[0].get('href')
result[0].text.lstrip().rstrip()

'A Light in the ...'

In [629]:
#DF[0] = pd.DataFrame
#DF[0]['book_names']=result
#DF['book_names']=DF[0]['book_names'].apply(lambda x: x.text.lstrip().rstrip()) 
#DF

In [643]:
result = soup.find_all('a')
result[0].get('href').lstrip().rstrip()

'index.html'

In [633]:
#DF = pd.DataFrame
#DF['links']=result
#DF['links']=DF['links'].apply(lambda x: x.lstrip().rstrip())
#DF

In [511]:
#result = soup.find_all('h3',href_="")
#result[3]

In [635]:
# Search the soup for links
result = soup.find_all('h3')
result[0]
#.text.lstrip().rstrip()

In [637]:
DF = pd.DataFrame()
DF['book_name_link'] = result
DF['book_name_link'] = DF['book_name_link'].apply(lambda x: x)
                                                  #.text.lstrip().rstrip())
DF

                               book_name_link
0                      [[A Light in the ...]]
1                      [[Tipping the Velvet]]
2                              [[Soumission]]
3                           [[Sharp Objects]]
4            [[Sapiens: A Brief History ...]]
5                         [[The Requiem Red]]
6            [[The Dirty Little Secrets ...]]
7                 [[The Coming Woman: A ...]]
8                     [[The Boys in the ...]]
9                         [[The Black Maria]]
10  [[Starving Hearts (Triangular Trade ...]]
11                  [[Shakespeare's Sonnets]]
12                            [[Set Me Free]]
13    [[Scott Pilgrim's Precious Little ...]]
14                      [[Rip it Up and ...]]
15                  [[Our Band Could Be ...]]
16                                   [[Olio]]
17        [[Mesaerion: The Best Science ...]]
18           [[Libertarianism for Beginners]]
19                [[It's Only the Himalayas]]

In [575]:
#DF_new['book_name']=DF('book_name_link').apply(lambda x: (x.split(']')(0)))
#DF

In [569]:
#result[0].get('href')
#('a',('href')_="")
#result[0].apply(lambda x: x.split(' ')[0])
#result[0]

In [573]:
#DF['book_link'] = DF['book_name_link'].apply(lambda x: x.split(' ')[0])
#DF